@import "./partials/mixins";
@import "./partials/params";

.calc {
    position: relative;
    background: rgb(73, 73, 73);
    height: $calc-height;
    width: $calc-width;
    @include clear;
    @include flex-center-column;
    @include flex-top;
}