@import "./partials/mixins";
@import "./partials/params";

.calc__display {
    position: relative;
    background: rgb(255, 255, 255);
    height: $display-height;
    width: $display-width;
    border-bottom: 5px solid black;
    @include clear;
    @include flex-center-row;
    font-weight: bold;
    font-size: 30px;
    float: right;
}

.display__numA,
.display__oper,
.display__numB {
    @include clear;
    @include flex-center;
    height: $display-height;
    width: $display-width / 3;
}