// Размеры Калькулятора
$calc-height: 460px;
$calc-width: 340px;
// Размеры кнопок
$btn-height: $calc-height / 6;
$btn-width: $calc-width / 4;
// Размер Диспеля
$display-height: $calc-height / 6;
$display-width: $calc-width;
$historyBtn-height: $calc-height / 6;
$historyBtn-width: $display-width / 12;