// Цвета. Раздел Пакетов
$c-yellow: #f9d423;
$c-grey: #7f8c8d;
$c-red: #ff1c1c;
$c-cyan: #1abc9c;
// Размеры модулей

// Размеры Калькулятора
$calc-height: 460px;
$calc-width: 340px;
// Размеры кнопок
$btn-height: $calc-height / 6;
$btn-width: $calc-width / 4;
// Размер Диспеля
$display-height: $calc-height / 6;
$display-width: $calc-width;